<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/cookies/jquery.cookie.js"></script>
    <script src="/javascripts/login.js"></script>
</head>
<body class="hold-transition login-page">
{{{body}}}

</body>
</html>