<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{>head}}
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/register.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>