<!--<div class="login-back">-->

    <!--&lt;!&ndash;<img style="width: 1300px;height: 680px" src="/images/sky.png" alt="User Image">&ndash;&gt;-->

<!--</div>-->

<!--<div class="text">MYBLOG登录</div>-->
<div class="login-box">
    <div class="text margincenter" style="margin-top:70px;margin-left: 80px">MYBLOG登录</div>
    <div class="form-group has-feedback ">
        <input style="height: 25px;margin-top: 30px" type="text" class="form-control margincenter" placeholder="用户名" id="usr">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback ">
        <input style="height: 25px;margin-top: 10px" type="password" class="form-control margincenter" placeholder="密码" id="pwd">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row margincenter">

        <div >
            <button style="border:none;width: 250px;height: 25px;margin-top: 20px;margin-left:20px;background-color:palevioletred;color:white" type="submit" class="btn btn-primary btn-block btn-flat" id="loginBtn">登 录</button>
        </div>
    </div>
    <div id="toRegister" href = "/register" ><a href="/register" style="color:white"> 没有帐号现在注册?</a></div>
</div>

